In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from keras import Sequential
from keras.models import Model
from keras.layers import LSTM, Dense, Concatenate, Flatten, Input
from keras.layers.merge import concatenate
from keras.optimizers import Adam
from keras.losses import logcosh
import tensorflow as tf
from keras.utils import plot_model
%matplotlib inline

Using TensorFlow backend.

In [2]:
#Population values
population = {
    "Chiapas_2016-2017.csv": 5217908,
    "Colima_2016-2017.csv": 711235,
    "Guerrero_2016-2017.csv": 3533251,
    "Hidalgo_2016-2017.csv": 2858359,
    "NuevoLeon_2016-2017.csv": 5119504,
    "Oaxaca_2016-2017.csv": 3967889,
    "QuintanaRoo_2016-2017.csv": 1501562,
    "Tabasco_2016-2017.csv" : 2395272,
    "Veracruz_2016-2017.csv" : 8112505,
    "Yucatan_2016-2017.csv" : 2097175,
    
    "casanare_2016-2017.csv" : 356438,
    "cordoba_2016-2017.csv" : 1709603,
    "cundinamarca_2016-2017.csv" : 2680041,
    "huila_2016-2017.csv" : 1154804,
    "meta_2016-2017.csv" : 961292,
    "santander_2016-2017.csv" : 2061095,
    "santander_norte_2016-2017.csv" : 1355723,
    "tolima_2016-2017.csv" : 1408274,
    "valle_cauca_2016-2017.csv" : 4613377,
    
    "Alagoas_2016-2017.csv": 3375823,
    "Bahia_2016-2017.csv": 15344447,
    "Ceara_2016-2017.csv": 9020460,
    "Goias_2016-2017.csv": 6778772,
    "Maranhao_2016-2017.csv": 7000229,
    "MatoGrosso_2016-2017.csv": 3344544,
    "MinasGerais_2016-2017.csv": 21119536,
    "Para_2016-2017.csv": 8366628,
    "RioDeJaneiro_2016-2017.csv": 16718956,
    "SaoPaulo_2016-2017.csv": 45094866,
}

In [3]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [4]:
def saveModel(model, modelName):
    jsonName = "{}.json".format(modelName)
    h5Name = "{}.h5".format(modelName)

    model_json = model.to_json()
    with open(jsonName, "w") as json_file:
        json_file.write(model_json)
    #seralize weights to HDF5
    model.save_weights(h5Name)

In [5]:
def createModel(modelName):
    jsonName = "{}.json".format(modelName)
    h5Name = "{}.h5".format(modelName)
    
    
    input_layer = Input(shape=(4,2))
    b1_out = LSTM(512, activation="relu", return_sequences=True)(input_layer)
#     b1_out = LSTM(512, activation="tanh", return_sequences=True)(b1_out)
    b1_out = LSTM(256, activation="relu", return_sequences=False)(b1_out)
    
    model1 = Model(input_layer, b1_out)
    
    b2_out = Dense(256, activation="relu")(input_layer)
#     b2_out = Dense(256, activation="tanh")(b2_out)
    b2_out = Flatten()(b2_out)
    
    model2 = Model(input_layer, b2_out)
    
    concatenated = concatenate([b1_out, b2_out])
    out = Dense(128, activation="relu")(concatenated)
    out = Dense(4, activation='linear', name='output_layer')(concatenated)
    
    model = Model([input_layer], out)
    model.compile(loss=[logcosh], optimizer="adam", metrics=["mae"])
    
    return model

In [6]:
def getXY(dataset, scale):
    dataset[["Searches"]] /= 100
    dataset[["Cases"]] = dataset[["Cases"]].apply(lambda x: x*100000/scale, axis=1)

    values = dataset.values.astype("float32")
    
    n_weeks = 4
    n_features = 2

    reframed = series_to_supervised(values, n_weeks, 4)
    values = reframed.values
    print(reframed.columns)
    
    print("Reframed Shape: ", reframed.shape)
    totalFeatures = reframed.shape[1]
    n_obs = n_weeks * n_features

    x,y = values[:, :8], values[:, 9::2] # Pick 4 previous weeks and predict 4 next 

    x = x.reshape((x.shape[0], n_weeks, n_features)) # Reshape as 3-D
    return x, y

In [7]:
def formatFilename(filename):
    return filename.replace(".csv", "")

In [8]:
country = input("Country: ")

Country: Mexico

In [9]:
np.random.seed(2018)

countries = ["Mexico", "Colombia", "Brazil"]
otherCountries = [x for x in countries if x != country]

model = createModel(country)
#Train
folder = "../../data/{}/processed_data".format(country)
files = os.listdir(folder)
with tf.Session() as sess:
    for file in files:
        dataset = pd.read_csv("{}/{}".format(folder, file), index_col=0)
        state = file
        print(file)
        x, y = getXY(dataset, population[file])
        model.fit(x, y,
                epochs = 200,
                batch_size=x.shape[0],
                verbose=0, 
                shuffle=True
                 )
    for otherCountry in otherCountries:
        otherFolder = "../../data/{}/processed_data".format(otherCountry)
        testFiles = os.listdir(otherFolder)

        for file in testFiles:

                test_dataset = pd.read_csv("{}/{}".format(otherFolder, file), index_col=0)
                 #Calculate Naive 
                    
                naive1Week = test_dataset["Cases"].values[3:-4]
                naive2Week = test_dataset["Cases"].values[2:-5]
                naive3Week = test_dataset["Cases"].values[1:-6]
                naive4Week = test_dataset["Cases"].values[0:-7]
                
                state = file
                if(not os.path.isdir("{}/{}".format(country, otherCountry))):
                    os.mkdir("{}/{}".format(country, otherCountry))
                
                if(not os.path.isdir("{}/{}/{}".format(country, otherCountry, file))):
                    os.mkdir("{}/{}/{}".format(country, otherCountry, file))
                    
                outFolder = "{}/{}/{}".format(country, otherCountry, file)
                
                formattedFilename = formatFilename(file)
                
                test_x, test_y = getXY(test_dataset, population[file])
                predictions = model.predict(test_x)
                
                errors = test_y - predictions
                
                #Transform to 1-D
                test_y = test_y.reshape((len(test_y), 4))
                
                #Rescale
                inv_yPred = np.apply_along_axis(lambda x: x * population[file] / 100000, 1, predictions)
#                 inv_y = np.apply_along_axis(lambda x: x * population[file] / 100000, 1, test_y)
                
                
                test_dataset = test_dataset[4:-3]
                test_dataset["Cases"] *= (population[file] / 100000)
                test_dataset["Week1-Prediction"] = inv_yPred[:,0]
                test_dataset["Week2-Prediction"] = inv_yPred[:,1]
                test_dataset["Week3-Prediction"] = inv_yPred[:,2]
                test_dataset["Week4-Prediction"] = inv_yPred[:,3]
                
                #Set naive
                test_dataset["Naive-1Week"] = naive1Week
                test_dataset["Naive-2Week"] = naive2Week
                test_dataset["Naive-3Week"] = naive3Week
                test_dataset["Naive-4Week"] = naive4Week
                #
                
                test_dataset["Week2-Prediction"] = test_dataset["Week2-Prediction"].shift(1)
                test_dataset["Week3-Prediction"] = test_dataset["Week3-Prediction"].shift(2)
                test_dataset["Week4-Prediction"] = test_dataset["Week4-Prediction"].shift(3)
                
                test_dataset.dropna(inplace=True)
                
                test_dataset["Week1-Error"] = test_dataset["Week1-Prediction"] - test_dataset["Cases"]
                test_dataset["Week2-Error"] = test_dataset["Week2-Prediction"] - test_dataset["Cases"]
                test_dataset["Week3-Error"] = test_dataset["Week3-Prediction"] - test_dataset["Cases"]
                test_dataset["Week4-Error"] = test_dataset["Week4-Prediction"] - test_dataset["Cases"]
                
                test_dataset.to_csv("{}/{}".format(outFolder, file))

                
                #Plot each week vs cases
                
                #Week 1
                colors = ['#2962FF', '#F44336']
                test_dataset[["Cases", "Week1-Prediction"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n1 Week ahead prediction vs. Observed ZIKV cases".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid()
                fig = plt.gcf()
                fig.savefig("{}/1-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                
                #Week 2
                colors = ['#2962FF', '#D500F9']
                test_dataset[["Cases", "Week2-Prediction"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n2 Weeks ahead prediction vs. Observed ZIKV cases".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/2-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()

                #Week 3
                colors = ['#2962FF', '#09af00']
                test_dataset[["Cases", "Week3-Prediction"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n3 Weeks ahead prediction vs. Observed ZIKV cases".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/3-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                #Week 4
                colors = ['#2962FF', '#212121']
                test_dataset[["Cases", "Week4-Prediction"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n4 Weeks ahead prediction vs. Observed ZIKV cases".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/4-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                #All
                colors = ['#2962FF', '#F44336', "#D500F9", "#09af00", "#212121"]
                test_dataset[["Cases", "Week1-Prediction",
                              "Week2-Prediction",
                              "Week3-Prediction",
                             "Week4-Prediction"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n1-4 Weeks ahead prediction vs. Observed ZIKV cases".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/All-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                #Compare with Naive
                #Week 1
                colors = ['#2962FF', '#09af00', "#212121"]
                test_dataset[["Cases", "Week1-Prediction", "Naive-1Week"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n1 Weeks ahead prediction vs. Observed ZIKV cases vs. Naive".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/Naive-1-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                #Week 2
                colors = ['#2962FF', '#09af00', "#212121"]
                test_dataset[["Cases", "Week2-Prediction", "Naive-2Week"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n1 Weeks ahead prediction vs. Observed ZIKV cases vs. Naive".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/Naive-2-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                #Week 3
                colors = ['#2962FF', '#09af00', "#212121"]
                test_dataset[["Cases", "Week3-Prediction", "Naive-3Week"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n1 Weeks ahead prediction vs. Observed ZIKV cases vs. Naive".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/Naive-3-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                #Week 4
                colors = ['#2962FF', '#09af00', "#212121"]
                test_dataset[["Cases", "Week4-Prediction", "Naive-4Week"]].plot(figsize=(10,10), color=colors)
                ax = plt.gca()
                ax.set_facecolor((0.9, 0.9, 0.9, 0.7))
                plt.title("LSTM Model -{}\n1 Weeks ahead prediction vs. Observed ZIKV cases vs. Naive".format(formattedFilename))
                plt.xlabel("Week")
                plt.ylabel("ZIKV Cases")
                plt.legend()
                plt.grid(linestyle='dashed', linewidth=1.5)
                fig = plt.gcf()
                fig.savefig("{}/Naive-4-Week-{}.png".format(outFolder, formattedFilename))
                plt.close("all")
                plt.clf()
                
                
                
    saveModel(model, "{}/Model".format(country))

Chiapas_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Colima_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Guerrero_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Hidalgo_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NuevoLeon_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Oaxaca_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
QuintanaRoo_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Tabasco_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Veracruz_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
Yucatan_2016-2017.csv
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [  5  10   0 104  82 125  96 108 136 149 134  58 153 158 214 158 197 205
 293 276 183 119 243 167 132  85  82  41  59  23  11  12  10  12   7  11
   8   4   8   2   2   4  12   4   0   0   0   4  11   7   4   2   0   3
   2   1   4   3   0   2   1   1   1   2   1   0   1   0   1   3   0   1
   5  -2   2   0   0  -3   1   3   1   0   1   1   1   3   1   2   5   3
   1   1   1   0   0   0   3   1  -1  -2   3   0   1   0]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 84 123   0 721 389 357 242 175 104  84  27  33  31  24  16  12   9  15
  12  17  11   7   3  -1   5   4   4   7   2   1   4   1   2   1   1   6
   7   2   0   1   0   1   1   1   1   7   1 135   0   7   5   0   0   0
   0   0   1   1   0   1   0   0   0   0   1   0   0   1   0   0   1   0
   0   7   0   1   0  -9   0   0   0   0   0   1   0   0   1   2   3   2
   1   0   0   0  -1   0   0  20 -18   0   1   0   0  -1]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [105 194   0 573 292 283 231 214 167 198 142  82 166 156 113  77  63  69
  66  84  26  36  34  37  29   2  17  14  12  11   8   5   2   4   4   8
   5   9   5   5   3   4  -4   4   2   4   1   2   3  14   2   5   0   4
   5   4   3   0   2   1   2   3   2   2   1   0   3   0   4   3   1   1
   0   3   0   0   0  -2   2   0   2   0  -2   3   1   0   2  -1   3   1
   0   0   1   0  -3   0   4   8  -7   1   0   0   0   1]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 334  473    0 1295  834  572  453  416  290  264  197  118  117  112   85
   73   55   62   73  111  -26   36   28   25   18   16   17   21   20    7
   10    7    6    6    4   10   30   31   25    1    3    1   36    7    4
    9    4   11    9   31    8   26    4    3    2    1    4    3    3    1
    0    0    2    1    0    0    2    1    0    1    1    1    5   -4    0
    1    2   -3    1    2    2    0   -2    0    1    0   -1    1   10    0
    0    1    0    1    0    0    0    3   -1   -1    1    1    0    0]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [  3  18   0  98 126 179 213 165 218 218 144 201 235 245 210 183 185 153
 195 202  92 156 105  96  56  65 114  46  29  36  45  38  25  24  22  23
  32  55   9   5   5 -11  19   5   5  10   6   7   2  10   3   3   0   4
   2   0   1   1   3   3   2   6   2   2   0   0   5  -3   1   0   0   3
   6  -2   1   1   1   2   0   3   0   0  -1   2   6   0   2   2   3   1
   2   1   0   0  -6   0   1   0   1   0   2   2   0  -1]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [  8  30   0 179 226 271 274 263 312 361 182 443 469 541 469 549 488 541
 549 554 406 464 483 278 281 246 167 204 162 138  90  61  77  62  77  74
  47  45  46  28  17 -87  36  29  30   5  15  10  12  32  14  20   2   5
   6  13   6   5   9   8  10   5   4   5   5   0   8   5   3   4   2   5
   8   0   6   4   1  -8   2   1   1   0   1   1   4   2 -16  -1  14  -1
   3   3   2   2  -4   0   3   8   4  -3   7   4  -1  -5]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 639  714    0 1816 1119  883  587  543  268  240  241   70  108   95   59
   80   82   15  202  254  -71   71   43   44   33   17   33   46   44   23
   26   21   10   24   22  115   74    6    6   -3    9    3   30   10    6
   11   -3    5    6   32    1    4    0    1    1    6    8   11   12   16
   17   20   20   24   24   24   27   27   27   27   27   28   34   29   30
   34   39   26   28   28   31   31   31   33   33   34   31   51   35   35
   35   35   35   35   35   35   35   37   35   35   36   40   44   47]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)

NAIVE [ 95 292   0 873 615 159 846 417  42 589 345  90 282 236 163 193 137 124
  89 122  79  89  56  23  48  43  26  26  32  18  22  17   3   9  14  52
  27   3  10  12   6   5  37   9  11  14   3   3   2  30   7   5   1   6
   6  13   2   4   4   5   2  -1   4   1   2   0   7   6   1   3   1   2
   7  -6   2   0   3  -6   4   1   4   0   1   3   3   0  -1  -5   6   1
   4   1   1   2  -2   0   2   6  -1  -1   2   2  -1   2]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [   1   64    0  413  636  855  881  980 1243 1257 1044  952 1212 1525 1531
 1472 1247 1077 1164 1260  786  949  859  809  730  519  507  301  268  319
  198  216  144  110   80  188   25  106  108   72   34   72   91   46   41
   37  -29   96   30   85   26   20   12   15   34   44   57   52   45   35
   91   17   29   26   29    0   55  -13   28   22   20   25   11   31   16
   18    9    8   17   18   15    0   27   20   18    9  -19   -6   17   12
   14    9    6   12    5    3    6   11   69  -12   24    8  -49    3]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 24  24  24  25 110 110 112 348 348 350 360 360 377 377 379 329 329 329
 329 233 233 233 233 233 238  48  48  48  48  48  48 114 230  19  19   9
   9   9   0  10  11  13  13   3   4   2   8   5   5   7   1   1   2   2
   2   2   1   1   1   3   3   4   7   8   7   7   8   4   4   4   7   4
   4   4   4   4   9   6   6   6   6   6   7   2   4   4   5   1   1   1
   2   9  10   5   5   4   4   2   4   6   6  21   6   4]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [1421 1421 1421 1424 3955 3955 3955 5152 5152 5153 2997 2997 1881 1881 1881
  731  731  731  733  206  206  206  206  206  211  145  145  145  145  145
  147    3    7   67   67   65   65   65    1   69   69  136  137   96   97
   91   99  124   94   82   68   29   14   14   14   16   89   89   89   66
   66   66   77   78  108  108  109   27   27   27   27   41   41   41   41
   41   46   34   34   34   34   34   34   86  172   22   22   50   50   50
    2    2    2   20   21    9    9    1   24   19   30    1    3   56]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 24  24  24  24  46  46  48  83  83  83 120 121 158 158 160 264 264 264
 264 206 206 206 206 206 206  45  45  45  45  45  49  81 163  21  21  21
  21  21   1  20  21  30  30  17  17  20  15  30  10   7   3   2   0   0
   0   2  29  29  31  24  24  24  63  64  25  25  27 147 147 147 147  91
  91  91  91  91  94   3   3   3   3   3   4   4  10 -27 -26  -2  -2  -2
   0  -1   0 -11 -11   4   5  -1  92 -10   1   0 -44   1]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 54  54  54  55 257 257 258 677 677 678 798 799 769 769 769 478 478 478
 478 180 180 180 180 180 185 -28 -28 -28 -28 -28 -27 138 276  13  13  10
  10  10   2   8   9  18  18  19  19   8  20  33  21  27  27  23  11  11
  11  12  56  56  56 180 180 181  33  34 240 240 241  44  44  44  44 189
 189 189 189 189 191 104 104 104 104 104 108   9  18  28  29  48  48  48
   2   4   4   7   7   4   4   4 -18  55   5   2  54  23]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 28  28  28  29 143 143 144 261 261 263 332 332 347 347 347 228 228 228
 229  73  73  73  73  73  78 -15 -15 -15 -15 -15 -15  66 133   5   5   4
   4   4   0  11  11  10  10   6   6  11   1   3   6   2   8   3   0   0
   0   1  18  18  19  16  16  16  13  14  45  45  46   7   7   7   9  17
  17  17  17  17  20  10  10  10  10  10  11   6  12 -18 -17   8   8   8
   2   4   4  15  15  -2  -1   9   0   0   0   0   0   0]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [1787 1787 1787 1789 2346 2346 2347 1507 1507 1508  697  697  321  321  321
  100  100  100  101  -23  -23  -23  -23  -23  -19   65   65   65   65   65
   67  -85 -169    9    9    7    7    7    1    5    6    3    3    7    7
    7   11    6   16   22   16    6    0    0    0    2    8    8    9   31
   31   32   22   22    6    6    8    0    0    0    0   78   78   78   78
   78   83  208  208  208  208  208  212   17   36    0    0   31   31   31
    0    0    0   38   38    0    0   22    0    0  -25   19    1   -1]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 175  175  175  177  949  949  951 1607 1607 1607 1018 1019  640  640  642
  337  337  337  339   -3   -3   -3   -3   -3    2   54   54   54   54   54
   57  -93 -186    3    3    5    5    5    2    8    8   10   10   12   13
    9   12    9   11   11   11    2   11   11   11   12   25   25   27   54
   54   54   37   37   65   65   67   25   25   25   27   33   33   33   33
   33   33  -14  -14  -14  -14  -14   -9    1    3   -7   -6  -21  -21  -21
    1    3    4    2    2    3    3    0   10    3    3    3    9    8]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [ 95  95  95  98 306 306 306 371 371 371 250 251 143 143 144  64  64  64
  67  67  67  67  67  67  69  32  32  32  32  32  33  39  80  18  19  13
  13  13   1  13  14  10  10   8   8   4   5   8  96  29  55   7   1   1
   1   2  29  29  31  78  78  80  36  36  47  47  47   6   6   6   6  13
  13  13  13  13  18   0   0   0   0   0   0   0   0   0   0  -1  -1  -1
   1   6   6 -33 -33   0   0 -23   0   0 124  -7   0   0]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)
NAIVE [3520 3520 3520 3521 4297 4297 4298 4012 4012 4012 3539 3540 3260 3260 3262
 1879 1879 1879 1881  979  979  979  979  979  979 -464 -464 -464 -464 -464
 -464 1303 2606   76   76   66   66   66    0   33   34  102  103   63   64
   79   65   62   64   60   41   22    0    0    0    1   -1   -1    1  131
  131  132   56   57  195  195  195    0    0    0    0   61   61   61   61
   61   61    0    0    0    0    0    0    0    0    0    0  250  250  250
    1    0    0    0    0    0    1    0    0    0    0    0    0    0]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)

NAIVE [3520 3520 3520 3521 4297 4297 4298 4012 4012 4012 3539 3540 3260 3260 3262
 1879 1879 1879 1881  979  979  979  979  979  979 -464 -464 -464 -464 -464
 -464 1303 2606   76   76   66   66   66    0   33   34  102  103   63   64
   79   65   62   64   60   41   22    6    6    6    6   30   30   30   34
   34   35   25   25   25   25   27    3    3    3    3    5    5    5    5
    5    6  -10  -10  -10  -10  -10  -10    4    8   -3   -2   -5   -5   -5
    1    0    0   16   17    3    3   17   11    9    4   -4    1   15]
Index(['var1(t-4)', 'var2(t-4)', 'var1(t-3)', 'var2(t-3)', 'var1(t-2)',
       'var2(t-2)', 'var1(t-1)', 'var2(t-1)', 'var1(t)', 'var2(t)',
       'var1(t+1)', 'var2(t+1)', 'var1(t+2)', 'var2(t+2)', 'var1(t+3)',
       'var2(t+3)'],
      dtype='object')
Reframed Shape:  (97, 16)